<template>
	<div class="wrap">
    <div class="bg">
        <div></div>
<!--       <p class="title">告白气球</p>
      <p class="name">周杰伦</p> -->
      <div class="content">
    
        <transition name="slide-fade">
        <!--   <p v-show="show2">12  请问千千万万千千万去问问情况陪我去吃我家呢 vui 何为财富vd
          撒才能看电视你觉得酸酸的时代你经常收到了就是打开了城市道路22112212121</p> -->
        </transition>
      
        <transition name="show-hide">
          <div class='showFeedBack' v-show='showFeedBack'>
             <img class="light" :src="light" alt="">
            <img class="bigAibi" :src="bigAibi" alt="">
            <p class="aibiNum">+0.03</p>
          </div>
        </transition>
        <div class="feedback" v-if="showFeedBack"></div>

        <transition name="slide-fade">
          <div class="contentItem" v-show="show" ref='contentItem'>
            <div class='item'>
              <div class='itemRight'>
                <div><p class='text'>我想听刘德华的忘情水</p></div> 
                 <img :src="girl" class='user' alt="">
              </div>
              <div class='itemLeft'>
                  <img :src="robot" class='user' alt="">
                  <div><p class='text'>好的，为您播放刘德华的忘情水</p></div> 
              </div>
            </div>
           <!--  <img class='item' :src="img[0]" alt="" > -->
          </div>
        </transition>


        <transition name="slide-fade2">
          <div class='show2' v-show='show2'>
          <div class="contentItem middle2" ref='contentItem2'>
          <p style="background:red;">2121121212121212211212121212212121</p>

            <div class='item'>
              <div class='itemRight'>
                <div><p class='text'>我想听刘德华的忘情水22222222222</p></div> 
                 <img :src="girl" class='user' alt="">
              </div>
              <div class='itemLeft'>
                  <img :src="robot" class='user' alt="">
                  <div><p class='text'>好的，为您播放刘德华的忘情水</p></div> 
              </div>
            </div>
          </div>
          </div>
        </transition>
        <transition name="slide-fade2">
          <div class='show3' v-show='show3'>
          <div class="contentItem bottom3" ref='contentItem3'>
            <div class='item'>
              <div class='itemRight'>
                <div><p class='text'>我想听刘德华的忘情水3333</p></div> 
                 <img :src="girl" class='user' alt="">
              </div>
              <div class='itemLeft'>
                  <img :src="robot" class='user' alt="">
                  <div><p class='text'>好的，为您播放刘德华的忘情水</p></div> 
              </div>
            </div>
          </div>
           </div>
        </transition>
        
        <!-- <transition name="slide-fade">
          <div class="contentItem2" v-if="show2" ref='contentItem2'>
            <img class='item2' :src="img[0]" alt="" >
          </div>
        </transition>
        <transition name="slide-fade">
          <div class="contentItem3" v-if="show2" ref='contentItem3'>
            <img class='item3' :src="img[0]" alt="" >
          </div>
        </transition> -->


      </div>
       <p class="islike">你觉得机器人判断的对吗</p>
       <div class='judge'>
         <div class="circle cirMargin" @click="hide()"><!-- <i class="iconfont icon-chandizhibodibuxihuan1 tubiao1"></i> -->
         <i class="iconfont icon-duigou tubiao4"></i></div>
         <div class="circle"><i class="iconfont icon-chacha tubiao2"></i></div>

       </div>
       <p class="bi">本期预计赚得 <span>0.12 </span>个AI币</p>
       <div class="popUp" v-show='showPopUp'>
        <div class="popUpContent" v-if='!done'>
          <img :src="aibi" alt="">
          <p class="bigText">本次预计赚了<span>0.06</span>个币</p>
          <div class="msg">继续做任务还可以赚的更多哦
            <p>确认退出？</p>
          </div>
          <button class="goOn">继续</button>
          <button class="goOn quit">退出</button>
        </div>
        <div class="popUpContent2" v-else>
          <div class="task">
          <img :src="taskDone" alt="">
          <i class="iconfont icon-duigou"></i>
          </div>
          <p class="bigText">恭喜您！完成本次所有任务！</p>
          <div class="msg">您可以去任务列表中继续领取
            <p>其他任务哦</p>
          </div>
          <button class="goOn">完成</button>
        </div>
       </div>
    </div>  
		<!-- dudge -->
	</div>

  
</template>

<script>
  // import API from '../api/api_user';
 export default {
    data() {
      return {
        images: [require('../assets/logo.png'),require('../assets/logo.png'),require('../assets/logo.png'),require('../assets/logo.png')],
        swiperOption: {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows : true
          }
        },
        img:[require('../assets/images/jay.jpg')],
        show:true,
        show2:true, 
        show3:true, 
        girl: require('../assets/images/ic_girl_c.png'),
        robot: require('../assets/images/ic_robot_c.png'),
        aibi: require('../assets/images/pop_gold.png'),
        taskDone: require('../assets/images/img_pop_task_90.png'),
        light: require('../assets/images/light.png'),
        bigAibi: require('../assets/images/ic_ai_gold_big.png'),
        showPopUp:false,
        done:false,
        showFeedBack:false,
        showAfter:false,
        num:0
      }
    },
    methods:{
      hide(){
        this.showFeedBack=true;
        this.num +=1;
        if(this.num==1){

          setTimeout(()=>{
            this.show=false;
          },500);
          
          setTimeout(()=>{
            this.$refs.contentItem2.style.transform='scale(1)';
            this.$refs.contentItem3.style.transform='scale(0.98)';
            var bb=0.18
            for(var i=0; i<200;i++){
              setTimeout(()=>{
                bb = bb-0.001
                this.$refs.contentItem2.style.top=`${bb}rem`;
                // console.log(`${bb}rem`)
              },i);
            }
            var cc=0.38
            for(var i=0; i<200;i++){
              setTimeout(()=>{
                cc=cc-0.001
                this.$refs.contentItem3.style.top=`${cc}rem`;
                // console.log(`${cc}rem`)
              },i);
            }
         
            // this.$refs.contentItem2.style.animation='enlarge 2s ease-in 1';
            // this.$refs.contentItem3.style.top='-0.45rem';
           
            // this.showAfter=true;
          },1000);
        }
        if(this.num==2){
          setTimeout(()=>{
            this.show2=false;
          },500);

          setTimeout(()=>{ 
            setTimeout(()=>{
              this.$refs.contentItem3.style.transform='scale(1)';
              var bb=0.18
              for(var i=0; i<200;i++){
                setTimeout(()=>{
                  bb = bb-0.001
                  this.$refs.contentItem3.style.top=`${bb}rem`;
                  // console.log(`${bb}rem`)
                },i);
              }
              },500);
           },1000)
        }
        if(this.num==3){
           setTimeout(()=>{
          this.show3=false;
        },500);
        }
        

        setTimeout(()=>{
          this.showFeedBack=false;
        },1000);
        setTimeout(()=>{
          this.showAfter=true;
        },1500);


      

      }
    }
}
</script>

  <!--  .swiper-inner {
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  .swipeHeight{
    height:100px;
  } -->
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.wrap{
  font-size:0.8rem;
  .bg{
    padding-top:0.2rem;
    padding-left:1rem;
    padding-right:1rem;
    color:#fff;
    height:30.15rem;
    background:linear-gradient(to bottom, #3D372F 0%,#070604 100%); 
    .title{
      font-size:1.2rem;
      font-weight:600;
    }
    .name{
      font-size:0.7rem;
    }
    .islike{
      font-weight:600;
    }
    .content{
      position:relative;
      height:14.5rem;
      margin-top:3.2rem;
      margin-bottom:1.4rem;
    }

    .contentItem{
      box-shadow:0px 1px 5px gray;
      position:absolute;
      z-index:15;
      box-sizing: border-box;
      width:16.75rem;
      height:14.5rem;
      background:#fff;
      border-radius:0.25rem;
      padding:0.5rem;
      transform-origin:50% 100%;
      .item{
        box-sizing: border-box;
        padding:0.45rem;
        border: 1px solid rgba(0,0,0,0.10);
        background:#F6F6F6;
        width:15.75rem;
        height:13.5rem;
        background-size:cover;
        padding-top:2.7rem;
        padding-bottom:2.7rem;
        .itemRight{
           position:relative;
           padding-left:2.7rem;
           display:flex;
           justify-content:flex-end;
           text-align:right;
          .text{
            position:relative;
            top:0.2rem;
            margin-right:0.5rem;
            display:inline-block;
            background:#D2EAF5;
            padding:0.45rem;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
            color: #1F1F1F;
            font-size: 0.8rem;
            border-radius:0.2rem;
            line-height:1rem;
          }
          .user{
            display:inline-block;
            width:2.4rem;
            height:2.4rem;
            
          }
          &:after{
              text-align:center;
              width:2.4rem;
              position:absolute;
              content:"用户";
              color:#1F1F1F;
              font-size:0.6rem;
              top:2.6rem;
              right:0.01rem;
          }
          
        }
        .itemLeft{
           padding-right:2.7rem;
           position:absolute;
           margin-top:2rem;
           display:flex;
           text-align:left;
          .text{
            position:relative;
            top:0.2rem;
            margin-left:0.5rem;
            display:inline-block;
            background:#fff;
            border: 1px solid rgba(0,0,0,0.10);
            padding:0.45rem;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
            color: #1F1F1F;
            font-size: 0.8rem;
            border-radius:0.2rem;
            line-height:1rem;
          }
          .user{
            width:2.4 rem!important;
            height:2.4rem;
          }
          &:before{
              text-align:center;
              width:2.4rem;
              position:absolute;
              content:"机器人";
              color:#1F1F1F;
              font-size:0.6rem;
              top:2.6rem;
          }
        }
        
      }
    }
    .top1{
      transform:scale(0);
      top:0rem;
      z-index:15;
    }
    .middle2{
      z-index:10;
      transform:scale(0.98);
      top:0.18rem;
    }
    .bottom3{
      z-index:5;
      transform:scale(0.96);
      top:0.38rem;
    }
    .contentItem2{
      box-shadow:0px 1px 3px gray;
      transform:scale(0.98);
      position:absolute;
      top:-0.45rem;
      z-index:5;
      transform-origin:50% 100%;
      box-sizing: border-box;
      margin-top:0.65rem;
      margin-bottom:1.4rem;
      width:16.75rem;
      background:#fff;
      height:14.5rem;
      border-radius:0.25rem;
      padding:0.5rem;
      .item2{
      position:absolute;
      width:15.75rem;
      height:13.5rem;
      background-size:cover;
      }
    }
    .contentItem3{
      transform:scale(0.96);
      position:absolute;
      top:-0.25rem;
      z-index:0;
      transform-origin:50% 100%;
      box-sizing: border-box;
      margin-top:0.65rem;
      margin-bottom:1.4rem;
      width:16.75rem;
      background:#fff;
      height:14.5rem;
      border-radius:0.25rem;
      padding:0.5rem;
      .item3{
        position:absolute;
      width:15.75rem;
      height:13.5rem;
      background-size:cover;
      }
    }
    .judge{
      margin-top:1rem;
      margin-bottom:2.75rem;
      display:index;
      justify-content:center;
      .circle{
        display:inline-block;
        index:1;
        background:#fff;
        height:3rem;
        width:3rem;
        border-radius:100%;
        .tubiao1{
          line-height:3rem;
          font-size:1.5rem;;
          color:#FF6A6A;
        }
        .tubiao2{
          line-height:3rem;
          font-size:1.38rem;
          color:#D82323;
        }
         .tubiao4{
          line-height:3rem;
          font-size:1.5rem;
          color:#73C560;
        }
      }
      .cirMargin{
        margin-right:2.9rem;
      }
    }
    .bi{
       font-weight:600;
       span{
        font-size:0.85rem;;
        color:#F86442;
        font-weight:600;
       }
    }
    .popUp{
      display:flex;
      justify-content:center;
      align-items:center;
      position:absolute;
      height:100%;
      left:0;
      top:0;
      width:100%;
      background:rgba(0,0,0,0.60);
      z-index:90;
      .popUpContent{
        color:#1F1F1F;
        width:12.5rem;
        height:14rem;
        background:#FFFFFF;
        border-radius: 0.6rem;
        img{
          margin:0 auto;
          display:block;
          height:4.5rem;
          margin-top:0.7rem;
        }
        .bigText{
          margin-top:0.7rem;
          margin-bottom:0.7rem;
          font-weight:600;
          color:#1F1F1F;
          span{
            font-size:0.8rem;
            color:#F86442;
            font-weight:600;
          }
        }
        .msg{
            font-size:0.7rem;;
        }
        .goOn{
          margin-top:1.35rem;
          background: #F86442;
          border:none;
          color:#fff;
          width:5rem;
          height:1.8rem;
          font-size:0.7rem;
          font-weight:600;
          border-radius: 1rem;
          margin-right:0.6rem;
        }
        .quit{
           border:1px solid #F86442;
           background: #fff;
           color:#F86442;
           margin-right:0rem;
        }
      }
      .popUpContent2{
        color:#1F1F1F;
        width:12.5rem;
        height:14rem;
        background:#FFFFFF;
        border-radius: 0.6rem;
        .task{
          margin:0 auto;
          height:4.5rem;
          width:4.5rem;
          position:relative;
        }
        img{
          margin:0 auto;
          display:block;
          height:4.5rem;
          margin-top:0.7rem;
        }
         .icon-duigou{
          font-size:1.1rem;
          color: #73C560;
          position:absolute;
          top:2rem;
          right:0.85rem;
        }
        .bigText{
          margin-top:0.7rem;
          margin-bottom:0.7rem;
          font-weight:600;
          color:#1F1F1F;
          span{
            font-size:0.8rem;
            color:#F86442;
            font-weight:600;
          }
        }
        .msg{
            font-size:0.7rem;;
        }
        .goOn{
        margin-top:1.35rem;
        background: #F86442;
        border:none;
        color:#fff;
        width:5rem;
        height:1.8rem;
        font-size:0.7rem;
        font-weight:600;
        border-radius: 1rem;
        margin-right:0.6rem;
        }
        .quit{
           border:1px solid #F86442;
           background: #fff;
           color:#F86442;
           margin-right:0rem;
        }
      }
    }
  }
}
 @keyframes swipe{
      0%{
        transform: translateX(10px) rotate(0);
        
      }
      100%{
        transform: translateX(-18.75rem) rotate(-90deg);
      }
} 
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
}
.slide-fade-leave-active {
  transition:all 2.2s ease-out; 
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-18.75rem) rotate(-90deg);
  opacity: 0;
}

.slide-fade2-enter-active {
}
.slide-fade2-leave-active {
  transition:all 2.2s ease-out; 
}
.slide-fade2-enter, .slide-fade2-leave-to {
  transform: translateX(-18rem) translateX(-18rem) rotate(-90deg);
  opacity: 0;
}


.show-hide-enter-active {
  z-index:100;
   transform:scale(1);
   transition:all 0.6s ease-in;
}
.show-hide-leave-active {
 opacity: 1;
 transition:all 0.2s ease-in;
}
.show-hide-enter{
  transform:scale(0);
  opacity: 0;
}
.show-hide-leave-to{
 opacity: 0;
}


.light{
  height:18rem;
  width:100%;
  top:-7.5rem;
  position:absolute;
  z-index:20;
}

 @keyframes into{
      0%{
        transform: scale(0);
      }
      100%{
        transform: scale(1);
      }
    }
.feedback{
   z-index:18;
   position:absolute;
   width:100%;
   height:14rem;
   background: #fff;
   opacity:0.7;
   border-radius:0.5rem;
  -webkit-filter: blur(10px); 
   -moz-filter: blur(10px);
   -ms-filter: blur(10px);   
  filter: blur(10px);  
}
.bigAibi{
   z-index:101;
   height:3rem;
   width:3rem;
   left:0.2rem;
   position:relative;
   top:0.2rem;
   left:4rem;
}
.aibiNum{
  position:relative;
  z-index:100;
  font-size: 1.8rem;
  color: #F5A623;
  font-weight:600;
  left:1.8rem;
  top:-2.5rem;
 
}
.showFeedBack{
  z-index:22;
  position:absolute;
  top:5.6rem;
  left:rem;
  width:100%;
  height:2rem;
  animation: into 0.6s ease-in 1; 
  transform-origin:50% 50%; 
}
.show2{
  width:100px;
  height:100px;
  position:absolute;
  z-index:10;
  background:red;
  transform-origin:0% 50%; 
}
.show3{
  width:100px;
  height:100px;
  position:absolute;
  z-index:5;
  background:red;
  transform-origin:0% 50%; 
}
</style>
